{% extends 'base.html' %}

{% block content %}

<h2>Login Form</h2>

{% if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}

<form method="post">
    <p>
        <label>Login / email<br>
        <input type="email" name="email"></label>
    </p>
    <p>
        <label>Password<br>
        <input type="password" name="password"></label>
    </p>
    <p>
        <label>
        <input type="checkbox" name="remember_me"> Remember me</label>
    </p>
    <button type="submit">Submit</button>
</form>

{% endblock %}