{% extends "index.html" %}

{% block content %}

<h2>Оформление каюты</h2>

<div style="display: flex; gap: 40px; align-items: center; margin-top: 20px;">

    <div>
        {% if sex == 'female' %}
            {% if age < 21 %}
                <div style="background-color: lightsalmon; width: 200px; height: 200px;"></div>
            {% else %}
                <div style="background-color: orangered; width: 200px; height: 200px;"></div>
            {% endif %}
        {% else %}
            {% if age < 21 %}
                <div style="background-color: lightblue; width: 200px; height: 200px;"></div>
            {% else %}
                <div style="background-color: blue; width: 200px; height: 200px;"></div>
            {% endif %}
        {% endif %}
        <p>Цвет стен</p>
    </div>

    <div>
        {% if age < 21 %}
            <img src="{{ url_for('static', filename='img/alien_baby.png') }}" height="200">
        {% else %}
            <img src="{{ url_for('static', filename='img/alien_adult.png') }}" height="200">
        {% endif %}
        <p>Эмблема</p>
    </div>

</div>

{% endblock %}